@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grey: #73788c;
  --grey-light: #fafafa;
  --grey-dark: #969696;
  --red: #ff0000;
  --red-light: #fbeaea;
  --red-dark: #cf0000;
  --blue: #4db8ff;
  --blue-dark: #21263b;
  --blue-light: #e9f4fb;
  --yellow: #fdcd0d;
  --yellow-light: #fbf6e5;
  --magenta: #fd4e80;
  --magenta-light: #fbeaef;
  --black: #020203;
  --white: white;
  --bar-bg-color: var(--black);
  --accent-color: var(--red);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

main {
  padding: 150px 30px 30px 210px;
}

body {
  font-weight: 500;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
